/* 

I will show you how to change a height of a standard Bootstrap navbar.

*/

.navbar {
  min-height: 80px;
}

.navbar-brand {
  padding: 0 15px;
  height: 80px;
  line-height: 80px;
}
.aligncenter {
    text-align: center;
}

.navbar-toggle {
  /* (80px - button height 34px) / 2 = 23px */
  margin-top: 23px;
  padding: 9px 10px !important;
}

@media (min-width: 768px) {
  .navbar-nav > li > a {
    /* (80px - line-height of 27px) / 2 = 26.5px */
    padding-top: 26.5px;
    padding-bottom: 26.5px;
    line-height: 27px;
  }

  ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #00353E;
}


ol{
  list-style-type: none;
}


li {
  float: left;
  padding:2px;
}

li a {
  display: block;
  color: white;
  font-size: 30px;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

.side-by-side {
  width: 100%;
  border: 1px solid black;

}
.side-by-side li {
  display: inline;
}

li a:hover {
  background-color: #111111;
}
div {
  display: table;
  margin-right: auto;
  margin-left: auto;
  border:1px solid black;
}

.wrapper {
    text-align: center;
}

.center {
  /*text-align:center;*/
  border: 3px black;
  background-color:#00353E;
  bottom:1000px;
}
.h1{
  text-align:center;
}
#button:hover {
  background-color: #7e7ecc;
}

  hr{
        height: 1px;
        background-color:grey;
        border: none;
    }

    body {
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

/* style the container */
.container {
  position: relative;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px 0 30px 0;
} 


/* style inputs and link buttons */
input,
.btn {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 4px;
  margin: 5px 0;
  opacity: 0.85;
  display: inline-block;
  font-size: 17px;
  line-height: 20px;
  text-decoration: none; /* remove underline from anchors */
}

input:hover,
.btn:hover {
  opacity: 1;
}

/* add appropriate colors to fb, twitter and google buttons */
.fb {
  background-color: #3B5998;
  color: white;
}

.twitter {
  background-color: #55ACEE;
  color: white;
}

.google {
  background-color: #dd4b39;
  color: white;
}

/* style the submit button */
input[type=submit] {
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

/* Two-column layout */
.col {
  float: left;
  width: 50%;
  margin: auto;
  padding: 0 50px;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

body{
    margin: 0;
    padding: 0;
}
.center { width: 900px; 
    margin: 200px auto 0px auto; 
}

/* vertical line */
.vl {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  border: 2px solid #ddd;
  height: 175px;
}

/* text inside the vertical line */
.vl-innertext {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  border-radius: 50%;
  padding: 8px 10px;
}

/* hide some text on medium and large screens */
.hide-md-lg {
  display: none;
}

/* bottom container */
.bottom-container {
  text-align: center;
  background-color: #666;
  border-radius: 0px 0px 4px 4px;
}

/* Responsive layout - when the screen is less than 650px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 650px) {
  .col {
    width: 100%;
    margin-top: 0;
  }
  /* hide the vertical line */
  .vl {
    display: none;
  }
  /* show the hidden text on small screens */
  .hide-md-lg {
    display: block;
    text-align: center;
  }

  .forms-out {
        margin: 0 auto;
        font-family: "Fira Sans", sans-serif;
        padding: 15px 0;
      }
      .forms-in {
        width: 93%;
        margin: 0 auto;
        color: white;
        padding: 15px 0;
      }
      .forms-in div {
        padding: 30px 20px;
        max-width: 350px;
        margin: 0 auto;
        background: #168ab8;
        border-radius: 5px;
        margin-bottom: 15px;
      }
      .forms-in h3 {
        text-align: center;
      }
      .forms-in input {
        border: none;
        width: 100%;
        margin-bottom: 15px;
        padding: 10px;
        box-sizing: border-box;
        border-radius: 3px;
      }

      .forms-in button {
        border: none;
        padding: 7px 20px;
        background: #e8f8ff;
        color: #168ab8;
        border-radius: 4px;
        cursor: pointer;
        font-weight: bold;
      }

      .forms-in button:hover {
        opacity: 0.7;
      }

      .hide {
        display: none;
      }

      #forgot-password {
        text-align: center;
        font-size: 13px;
        cursor: pointer;
      }

      #forgot-password:hover {
        opacity: 0.7;
      }
}

